@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600,700,300italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant:regular,300italic&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #151618;
  line-height: 1;
  font-family: "Open Sans",sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Open Sans",sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu {
  display: flex;
  align-items: center
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem
}
.menu__link {
  font-size: 1.125rem;
  position: relative;
  text-transform: capitalize
}
.menu__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: .125rem;
  background: #ccb187;
  bottom: -6px;
  left: 0;
  transition: all .3s
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #f7f2ea;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.title-block {
  font-family: Cormorant,sans-serif;
  text-align: center
}
.button-border {
  border: 1px solid #151618;
  padding: .75rem 2.5rem;
  width: 9.375rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center
}
.input-container {
  position: relative;
  width: 100%
}
.input-container input[type=text] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #b8b58b;
  background-color: transparent;
  outline: 0;
  padding-left: .625rem
}
.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #b8b58b;
  transition: all .3s ease;
  pointer-events: none;
  padding-left: .625rem
}
.input-container input[type=text]:focus ~ .label,
.input-container input[type=text]:valid ~ .label {
  top: -25px;
  font-size: 16px;
  color: #b8b58b
}
.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all .3s ease
}
.input-container input[type=text]:focus ~ .underline,
.input-container input[type=text]:valid ~ .underline {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
.popup svg {
  width: 1.375rem;
  height: 1.25rem
}
.popup__close {
  align-self: flex-end
}
.popup__close svg {
  width: 1.375rem;
  height: 1.375rem;
  fill: #b8b58b;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
  transition: all .3s
}
.stay-touch-popup h3 {
  font-family: Cormorant,sans-serif;
  text-align: center;
  margin-bottom: 1.25rem
}
.stay-touch-popup p {
  text-align: center;
  line-height: 1.2
}
.stay-touch-popup__logo-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .9375rem 0
}
.stay-touch-popup__logo-block ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.stay-touch-popup__logo-block ul li {
  display: flex;
  align-items: center;
  gap: .625rem
}
.stay-touch-popup__social-link {
  padding: .9375rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 6
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.header__second-menu {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.contact-blog {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
  border-top: 2px solid #f7f2ea;
  font-size: .8125rem;
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 2.1875rem;
  font-weight: 300
}
.contact-blog__second-menu {
  background: #f7f2ea;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 3.75rem;
  position: absolute;
  bottom: 0;
  left: 0
}
.second-menu svg {
  width: 1.25rem;
  height: 1.375rem
}
.second-menu__link {
  padding: .375rem .5rem;
  border-radius: 50%;
  transition: all .3s
}
.footer {
  background: #f7f2ea;
  padding-bottom: 1.875rem
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem
}
.footer__content h3 {
  font-size: 1.5rem;
  font-family: Cormorant,sans-serif
}
.footer__products ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.footer__company ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.footer__stay-touch {
  font-size: .8125rem;
  font-weight: 300
}
.footer__pay {
  display: flex;
  gap: 9.375rem
}
.footer__pay ul {
  display: flex;
  gap: 1.25rem
}
.stay-touch {
  font-size: .8125rem;
  font-weight: 300
}
.stay-touch svg {
  width: 1.375rem;
  height: 1.375rem
}
.stay-touch__body p {
  margin-bottom: 1.25rem;
  max-width: 16.875rem
}
.stay-touch__logo-block {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2.5rem
}
.stay-touch__logo-block li {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.stay-touch__logo-block li:not(:last-child) {
  margin-bottom: 1.25rem
}
.stay-touch__social-link {
  display: flex;
  gap: 1.25rem;
  justify-content: flex-end
}
.hero {
  width: 100%;
  height: 31.25rem;
  overflow: hidden;
  position: relative
}
.hero__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 31.25rem
}
.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.15);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px)
}
.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__container {
  position: relative;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end
}
.hero__container h1 {
  font-family: Cormorant,sans-serif;
  color: #fff;
  max-width: 49.375rem
}
.hero__container p {
  font-family: Cormorant,sans-serif;
  color: #fff;
  max-width: 35rem
}
.quote__container blockquote {
  font-style: italic;
  font-weight: 300;
  font-family: Cormorant,sans-serif;
  max-width: 44.0625rem;
  margin: 0 auto;
  text-align: center;
  color: #151618
}
.collections-tea__body-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem
}
.collections-tea__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .9375rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: Cormorant,sans-serif
}
.collections-tea__link {
  max-width: 12.5rem;
  max-height: 12.5rem
}
.collections-tea__image {
  transition: all .3s;
  aspect-ratio: 200/200
}
.what-clients-say {
  background: #f7f2ea
}
.what-clients-say__body {
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.what-clients-say__item {
  display: flex;
  flex-direction: column
}
.what-clients-say__item p {
  font-style: italic;
  font-weight: 300;
  flex: 1 1 auto;
  max-height: 15.625rem;
  overflow: scroll;
  margin-bottom: .9375rem
}
.what-clients-say__item p::after,
.what-clients-say__item p::before {
  content: '"';
  margin: 0 .25rem
}
.what-clients-say__item span {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize
}
.blog__container {
  display: flex;
  flex-direction: column
}
.blog__body-blog {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.blog__body-blog:not(:last-child) {
  margin-bottom: 3.75rem
}
.blog__card {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.25rem;
  overflow: hidden;
  transition: all .3s
}
.blog__image {
  transition: all .3s;
  aspect-ratio: 270/180
}
.blog__card-text-block {
  padding: .25rem 0;
  display: flex;
  flex-direction: column
}
.blog__card-text-block h3 {
  font-size: 1.5rem;
  font-family: Cormorant,sans-serif;
  margin-bottom: .625rem
}
.blog__card-text-block p {
  font-size: .8125rem;
  font-weight: 300;
  flex: 1 1 auto
}
.blog__card-text-block span {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-transform: capitalize;
  font-size: .8125rem;
  font-weight: 300
}
.blog__card-text-block span svg {
  width: .3125rem;
  height: .625rem
}
.blog__button {
  background: #fff;
  align-self: center;
  transition: all .3s
}
.know-more {
  background: #f7f2ea;
  background-image: url(../img/tea-bg.webp);
  background-repeat: no-repeat;
  background-position: right
}
.know-more__title {
  text-align: left
}
.know-more__body {
  display: flex;
  gap: 2.5rem
}
.know-more__body p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
  flex: 1 1 50%
}
.know-more__body-input {
  flex: 1 1 50%
}
.know-more__form-block {
  display: flex;
  align-items: flex-end;
  gap: 1.5625rem
}
.know-more__button {
  background: #fff;
  text-transform: capitalize
}
.know-more__privacy {
  display: flex;
  padding-top: .625rem;
  gap: .625rem;
  align-items: flex-start
}
.know-more__privacy input {
  width: 12px;
  height: 12px;
  accent-color: #000
}
.know-more__privacy p {
  width: 100%;
  font-size: .8125rem;
  font-weight: 300
}
.priorities__body {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem;
  justify-content: space-between
}
.priorities__article {
  display: flex;
  flex-direction: column;
  align-items: center
}
.priorities__article h3 {
  font-size: 1.875rem;
  font-weight: 300
}
.priorities__article h3:not(:last-child) {
  margin-bottom: .625rem
}
.priorities__article span {
  font-size: 1.25rem;
  font-weight: 600
}
.priorities__article span:not(:last-child) {
  margin-bottom: 2.5rem
}
.priorities__article svg {
  width: 3.75rem;
  height: 3.75rem;
  color: #754e29
}
.about-tea-text__container p {
  line-height: 1.2;
  font-size: 1.25rem;
  font-family: Cormorant,sans-serif
}
.about-tea-text__container p:not(:last-child) {
  margin-bottom: .9375rem
}
@media (min-width:76.875em) {
  .menu__list {
    -webkit-column-gap: 4.375rem;
    -moz-column-gap: 4.375rem;
    column-gap: 4.375rem
  }
  .title-block {
    font-size: 2.5rem
  }
  .title-block {
    margin-bottom: 3.75rem
  }
  .stay-touch-popup h3 {
    font-size: 2.25rem
  }
  .header__container {
    padding-top: 1.875rem
  }
  .header__container {
    padding-bottom: 1.875rem
  }
  .header__logo {
    width: 4.6875rem
  }
  .header__logo {
    height: 6.5625rem
  }
  .footer__content {
    padding-top: 6.25rem
  }
  .footer__content {
    padding-bottom: 6.25rem
  }
  .footer__content h3 {
    margin-bottom: 3.125rem
  }
  .footer__pay {
    gap: 9.375rem
  }
  .hero__container {
    padding-bottom: 3rem
  }
  .hero__container h1 {
    font-size: 3.75rem
  }
  .hero__container p {
    font-size: 1.5rem
  }
  .quote__container {
    padding-top: 9.375rem
  }
  .quote__container {
    padding-bottom: 9.375rem
  }
  .quote__container blockquote {
    font-size: 2.5rem
  }
  .collections-tea {
    padding-bottom: 9.375rem
  }
  .what-clients-say {
    padding-top: 3.75rem
  }
  .what-clients-say {
    padding-bottom: 3.75rem
  }
  .what-clients-say__body {
    gap: 1.5625rem
  }
  .blog {
    padding-top: 7.5rem
  }
  .blog {
    padding-bottom: 7.5rem
  }
  .blog__body-blog {
    gap: 3.75rem
  }
  .know-more {
    padding-top: 6.25rem
  }
  .know-more {
    padding-bottom: 6.25rem
  }
  .priorities {
    padding-top: 6.25rem
  }
  .priorities {
    padding-bottom: 6.25rem
  }
  .about-tea-text {
    padding-top: 5rem
  }
  .about-tea-text {
    padding-bottom: 5rem
  }
}
@media (max-width:20em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .title-block {
    font-size: 1.5rem
  }
  .title-block {
    margin-bottom: 1.875rem
  }
  .stay-touch-popup h3 {
    font-size: 1.5rem
  }
  .header__container {
    padding-top: .625rem
  }
  .header__container {
    padding-bottom: .625rem
  }
  .header__logo {
    width: 2.5rem
  }
  .header__logo {
    height: 3.5rem
  }
  .footer__content {
    padding-top: 3.125rem
  }
  .footer__content {
    padding-bottom: 3.125rem
  }
  .footer__content h3 {
    margin-bottom: 1.875rem
  }
  .footer__pay {
    gap: 3.125rem
  }
  .hero__container {
    padding-bottom: 1.875rem
  }
  .hero__container h1 {
    font-size: 2.125rem
  }
  .hero__container p {
    font-size: 1rem
  }
  .quote__container {
    padding-top: 3.75rem
  }
  .quote__container {
    padding-bottom: 3.75rem
  }
  .quote__container blockquote {
    font-size: 1.25rem
  }
  .collections-tea {
    padding-bottom: 3.75rem
  }
  .what-clients-say {
    padding-top: 1.875rem
  }
  .what-clients-say {
    padding-bottom: 1.875rem
  }
  .what-clients-say__body {
    gap: .9375rem
  }
  .blog {
    padding-top: 3.75rem
  }
  .blog {
    padding-bottom: 3.75rem
  }
  .blog__body-blog {
    gap: 1.25rem
  }
  .know-more {
    padding-top: 3.125rem
  }
  .know-more {
    padding-bottom: 3.125rem
  }
  .priorities {
    padding-top: 3.125rem
  }
  .priorities {
    padding-bottom: 3.125rem
  }
  .about-tea-text {
    padding-top: 1.875rem
  }
  .about-tea-text {
    padding-bottom: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .what-clients-say__body {
    grid-template-columns: repeat(2,1fr)
  }
  .know-more__title {
    text-align: center
  }
  .know-more__body {
    flex-direction: column;
    text-align: center
  }
  .know-more__body-input {
    max-width: 36.25rem;
    margin: 0 auto
  }
  .priorities__body {
    justify-content: center
  }
}
@media (max-width:47.99875em) {
  .menu {
    position: fixed;
    bottom: 5rem;
    right: 1.875rem;
    background: #f7f2ea;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 3px 18px 8px rgba(198,198,198,.87)
  }
  .menu__body {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    background: #fff;
    top: 0;
    overflow: auto;
    padding: 8.75rem .9375rem .9375rem 1.875rem;
    transition: right .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5.3125rem;
    right: -100%;
    top: 0;
    transition: right .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    right: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.875rem;
    flex: 1 1 auto
  }
  .menu__link {
    font-size: 1.5rem;
    font-family: Cormorant,sans-serif
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(247,242,234,.8)
  }
  .contact-blog {
    display: flex
  }
  .what-clients-say__body {
    grid-template-columns: auto
  }
  .blog__body-blog {
    display: flex;
    flex-direction: column
  }
  .blog__card:nth-child(even) {
    margin-left: 3.75rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .blog__card:nth-child(even) {
    margin-left: 0
  }
}
@media (min-width:20em) and (max-width:76.875em) {
  @supports ((-moz-column-gap:clamp(2.5rem ,1.8406593407rem + 3.2967032967vw ,4.375rem)) or (column-gap:clamp(2.5rem ,1.8406593407rem + 3.2967032967vw ,4.375rem))) {
    .menu__list {
      -webkit-column-gap: clamp(2.5rem ,1.8406593407rem + 3.2967032967vw ,4.375rem);
      -moz-column-gap: clamp(2.5rem ,1.8406593407rem + 3.2967032967vw ,4.375rem);
      column-gap: clamp(2.5rem ,1.8406593407rem + 3.2967032967vw ,4.375rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(2.5rem ,1.8406593407rem + 3.2967032967vw ,4.375rem)) or (column-gap:clamp(2.5rem ,1.8406593407rem + 3.2967032967vw ,4.375rem))) {
    .menu__list {
      -webkit-column-gap: calc(2.5rem + 1.875 * (100vw - 20rem)/ 56.875);
      -moz-column-gap: calc(2.5rem + 1.875 * (100vw - 20rem)/ 56.875);
      column-gap: calc(2.5rem + 1.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.1483516484rem + 1.7582417582vw ,2.5rem)) {
    .title-block {
      font-size: clamp(1.5rem ,1.1483516484rem + 1.7582417582vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.1483516484rem + 1.7582417582vw ,2.5rem)) {
    .title-block {
      font-size: calc(1.5rem + 1 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)) {
    .title-block {
      margin-bottom: clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)) {
    .title-block {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.2362637363rem + 1.3186813187vw ,2.25rem)) {
    .stay-touch-popup h3 {
      font-size: clamp(1.5rem ,1.2362637363rem + 1.3186813187vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.2362637363rem + 1.3186813187vw ,2.25rem)) {
    .stay-touch-popup h3 {
      font-size: calc(1.5rem + .75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .header__container {
      padding-top: clamp(.625rem ,.1854395604rem + 2.1978021978vw ,1.875rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .header__container {
      padding-top: calc(.625rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .header__container {
      padding-bottom: clamp(.625rem ,.1854395604rem + 2.1978021978vw ,1.875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .header__container {
      padding-bottom: calc(.625rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (width:clamp(2.5rem ,1.7307692308rem + 3.8461538462vw ,4.6875rem)) {
    .header__logo {
      width: clamp(2.5rem ,1.7307692308rem + 3.8461538462vw ,4.6875rem)
    }
  }
  @supports not (width:clamp(2.5rem ,1.7307692308rem + 3.8461538462vw ,4.6875rem)) {
    .header__logo {
      width: calc(2.5rem + 2.1875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (height:clamp(3.5rem ,2.4230769231rem + 5.3846153846vw ,6.5625rem)) {
    .header__logo {
      height: clamp(3.5rem ,2.4230769231rem + 5.3846153846vw ,6.5625rem)
    }
  }
  @supports not (height:clamp(3.5rem ,2.4230769231rem + 5.3846153846vw ,6.5625rem)) {
    .header__logo {
      height: calc(3.5rem + 3.0625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .footer__content {
      padding-top: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .footer__content {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .footer__content {
      padding-bottom: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .footer__content {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)) {
    .footer__content h3 {
      margin-bottom: clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)) {
    .footer__content h3 {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(3.125rem ,0.9271978022rem + 10.989010989vw ,9.375rem)) {
    .footer__pay {
      gap: clamp(3.125rem ,.9271978022rem + 10.989010989vw ,9.375rem)
    }
  }
  @supports not (gap:clamp(3.125rem ,0.9271978022rem + 10.989010989vw ,9.375rem)) {
    .footer__pay {
      gap: calc(3.125rem + 6.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.4793956044rem + 1.978021978vw ,3rem)) {
    .hero__container {
      padding-bottom: clamp(1.875rem ,1.4793956044rem + 1.978021978vw ,3rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.4793956044rem + 1.978021978vw ,3rem)) {
    .hero__container {
      padding-bottom: calc(1.875rem + 1.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(2.125rem ,1.5535714286rem + 2.8571428571vw ,3.75rem)) {
    .hero__container h1 {
      font-size: clamp(2.125rem ,1.5535714286rem + 2.8571428571vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(2.125rem ,1.5535714286rem + 2.8571428571vw ,3.75rem)) {
    .hero__container h1 {
      font-size: calc(2.125rem + 1.625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1rem ,0.8241758242rem + 0.8791208791vw ,1.5rem)) {
    .hero__container p {
      font-size: clamp(1rem ,.8241758242rem + .8791208791vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8241758242rem + 0.8791208791vw ,1.5rem)) {
    .hero__container p {
      font-size: calc(1rem + .5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)) {
    .quote__container {
      padding-top: clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)) {
    .quote__container {
      padding-top: calc(3.75rem + 5.625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)) {
    .quote__container {
      padding-bottom: clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)) {
    .quote__container {
      padding-bottom: calc(3.75rem + 5.625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .quote__container blockquote {
      font-size: clamp(1.25rem ,.8104395604rem + 2.1978021978vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .quote__container blockquote {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)) {
    .collections-tea {
      padding-bottom: clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,1.771978022rem + 9.8901098901vw ,9.375rem)) {
    .collections-tea {
      padding-bottom: calc(3.75rem + 5.625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)) {
    .what-clients-say {
      padding-top: clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)) {
    .what-clients-say {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)) {
    .what-clients-say {
      padding-bottom: clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,1.2156593407rem + 3.2967032967vw ,3.75rem)) {
    .what-clients-say {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.7177197802rem + 1.0989010989vw ,1.5625rem)) {
    .what-clients-say__body {
      gap: clamp(.9375rem ,.7177197802rem + 1.0989010989vw ,1.5625rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.7177197802rem + 1.0989010989vw ,1.5625rem)) {
    .what-clients-say__body {
      gap: calc(.9375rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.75rem ,2.4313186813rem + 6.5934065934vw ,7.5rem)) {
    .blog {
      padding-top: clamp(3.75rem ,2.4313186813rem + 6.5934065934vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,2.4313186813rem + 6.5934065934vw ,7.5rem)) {
    .blog {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(3.75rem ,2.4313186813rem + 6.5934065934vw ,7.5rem)) {
    .blog {
      padding-bottom: clamp(3.75rem ,2.4313186813rem + 6.5934065934vw ,7.5rem)
    }
  }
  @supports not (padding-bottom:clamp(3.75rem ,2.4313186813rem + 6.5934065934vw ,7.5rem)) {
    .blog {
      padding-bottom: calc(3.75rem + 3.75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(1.25rem ,0.3708791209rem + 4.3956043956vw ,3.75rem)) {
    .blog__body-blog {
      gap: clamp(1.25rem ,.3708791209rem + 4.3956043956vw ,3.75rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,0.3708791209rem + 4.3956043956vw ,3.75rem)) {
    .blog__body-blog {
      gap: calc(1.25rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .know-more {
      padding-top: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .know-more {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .know-more {
      padding-bottom: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .know-more {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .priorities {
      padding-top: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .priorities {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .priorities {
      padding-bottom: clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.0260989011rem + 5.4945054945vw ,6.25rem)) {
    .priorities {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .about-tea-text {
      padding-top: clamp(1.875rem ,.7760989011rem + 5.4945054945vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .about-tea-text {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .about-tea-text {
      padding-bottom: clamp(1.875rem ,.7760989011rem + 5.4945054945vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .about-tea-text {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: .125rem;
    background: #ccb187;
    bottom: -6px;
    left: 0
  }
  .popup__close svg:hover {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  .second-menu__link:hover {
    background: #ccb187
  }
  .collections-tea__link:hover .collections-tea__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .blog__card:hover .blog__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .blog__card:hover {
    box-shadow: 5px 5px 20px #f2ede5,-5px -5px 20px #fcf7ef
  }
  .blog__button:hover {
    background: #f7f2ea
  }
}