@import url(https://fonts.googleapis.com/css?family=Lexend+Deca:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: "DM Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: #dfccc2
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  transition: all .3s;
  opacity: 1
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 3.125rem 1fr minmax(auto,0) 1fr 3.125rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.btn-style {
  letter-spacing: -.03em;
  font-weight: 500;
  position: relative;
  line-height: 1.3;
  padding: .3125rem .1875rem
}
.btn-style span {
  position: relative;
  z-index: 2
}
.btn-style::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: .125rem;
  background-color: #f95454;
  transition: all .3s
}
.text-block {
  line-height: 1.5;
  color: #6e645f
}
.vertical-text {
  font-weight: 700;
  letter-spacing: .12em
}
.text-block-services {
  font-weight: 600;
  position: absolute;
  bottom: -5.625rem;
  left: -15.625rem;
  width: 20rem;
  text-align: right;
  z-index: 2
}
.text-block-services h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -.04em
}
.text-block-services a {
  font-size: 1rem
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #dfccc2;
  opacity: .9;
  box-shadow: 5px 5px 33px #d8c6bc,-5px -5px 33px #e6d2c8
}
.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-top: 2.3125rem;
  padding-bottom: 2.3125rem;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.header__menu {
  justify-self: start
}
.header__logo {
  font-size: 2rem;
  font-family: "Lexend Deca",sans-serif;
  letter-spacing: -.04em;
  transition: color .3s;
  position: relative;
  z-index: 5
}
.header__btn-style {
  justify-self: end
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .25rem;
  align-items: center
}
.menu__item {
  position: relative;
  padding-top: .3125rem;
  padding-bottom: .3125rem
}
.menu__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: .125rem;
  background-color: #f95454;
  transition: all .3s
}
.menu__link {
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.31;
  transition: all .3s
}
.footer__container {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  gap: .9375rem
}
.footer__footer-menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  row-gap: 1.875rem
}
.footer__footer-menu li {
  padding-bottom: .3125rem;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.03em
}
.footer__footer-menu li::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: .125rem;
  background-color: #f95454;
  transition: all .3s
}
.footer__privacy-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}
.footer__social-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}
.footer__invite {
  font-size: 1.875rem;
  font-family: "Lexend Deca",sans-serif;
  letter-spacing: -.04em;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: end
}
.footer__btn-style {
  color: #f95454;
  align-self: flex-end;
  position: relative;
  padding-bottom: .4375rem;
  transition: all .3s
}
.footer__btn-style::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: .25rem;
  background-color: #f95454
}
.hero__body {
  max-width: 59.6875rem;
  margin: 0 auto;
  position: relative
}
.hero__title {
  padding-top: 10.893246%;
  font-family: "Lexend Deca",sans-serif;
  letter-spacing: -.04em;
  line-height: 1.33333;
  max-width: 25rem;
  position: relative;
  z-index: 3;
  opacity: 0;
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem)
}
.hero__title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .2s
}
.hero__media {
  position: relative
}
.hero__main-image {
  aspect-ratio: 412/459;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .25rem;
  position: relative;
  z-index: 2;
  opacity: 0
}
.hero__main-image._watcher-view {
  opacity: .7;
  transition: all 1s .5s
}
.hero__content {
  position: relative;
  z-index: 3
}
.hero__circle-image {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  max-width: 15.1875rem;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(6.25rem,0);
  transform: translate(6.25rem,0)
}
.hero__circle-image._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .4s
}
.hero__deco {
  position: absolute
}
.hero__deco--one {
  max-width: 56.553398%;
  aspect-ratio: 233/195;
  top: -16.557734%;
  right: -26.699029%;
  opacity: 0;
  -webkit-transform: translate(0,-6.25rem);
  transform: translate(0,-6.25rem)
}
.hero__deco--one._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .7s
}
.hero__deco--two {
  max-width: 58.009709%;
  aspect-ratio: 239/278;
  bottom: -31.154684%;
  right: -21.116505%;
  opacity: 0;
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem)
}
.hero__deco--two._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .9s
}
.hero__figure {
  position: absolute;
  aspect-ratio: 197/197;
  max-width: 47.815534%;
  bottom: -12.418301%;
  left: -21.84466%;
  opacity: 0;
  -webkit-transform: translate(-6.25rem,0);
  transform: translate(-6.25rem,0)
}
.hero__figure._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .4s
}
.hero__text {
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem)
}
.hero__text._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .2s
}
.focused {
  position: relative;
  padding-bottom: 3.125rem;
  padding-top: .5rem
}
.focused__content {
  position: relative;
  z-index: 2;
  max-width: 77.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between
}
.focused__picture {
  border-radius: .25rem;
  overflow: hidden;
  position: relative;
  z-index: 2
}
.focused__picture--first {
  max-width: 20.0625rem;
  align-self: flex-start;
  opacity: 0;
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem)
}
.focused__picture--first._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1.3s .5s
}
.focused__picture--first img {
  aspect-ratio: 321/385;
  -o-object-fit: cover;
  object-fit: cover
}
.focused__picture--second {
  align-self: flex-end;
  max-width: 22.8125rem;
  opacity: 0;
  -webkit-transform: translate(0,50%);
  transform: translate(0,50%)
}
.focused__picture--second._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  transition: all 1s .5s
}
.focused__picture--second img {
  aspect-ratio: 365/530;
  -o-object-fit: cover;
  object-fit: cover
}
.focused__image {
  position: relative;
  z-index: 2;
  width: 100%
}
.focused__body {
  position: relative;
  z-index: 2;
  align-self: center;
  opacity: 0;
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem)
}
.focused__body._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1.2s 1s
}
.focused__body h2 {
  letter-spacing: -.04em;
  line-height: 1.2;
  font-family: "Lexend Deca",sans-serif
}
.focused__body h2:not(:last-child) {
  margin-bottom: 1rem
}
.focused__text {
  max-width: 24.375rem
}
.focused__text p:not(:last-child) {
  margin-bottom: .625rem
}
.focused__decor-items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.focused__decor-item {
  position: absolute;
  opacity: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.focused__decor-item._watcher-view {
  opacity: 1;
  transition: all 1s .5s;
  -webkit-transform: rotate(0);
  transform: rotate(0)
}
.focused__decor-item:first-child {
  max-width: 21.625rem;
  aspect-ratio: 346/342;
  position: absolute;
  bottom: 3.75rem;
  left: -9.6875rem
}
.focused__decor-item:last-child {
  position: absolute;
  bottom: -6.25rem;
  right: 22%
}
.focused__decor-value {
  width: 100%;
  height: 100%
}
.services__title {
  line-height: 1.2;
  letter-spacing: -.04em;
  text-align: center
}
.content-services {
  max-width: 54.0625rem;
  display: flex;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  row-gap: 1.875rem;
  margin: 0 auto;
  justify-content: space-around;
  letter-spacing: -.04em;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.875rem
}
.content-services__cut {
  display: flex;
  flex-direction: column;
  opacity: 0;
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem)
}
.content-services__cut._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s
}
.content-services__color {
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0,18.75rem);
  transform: translate(0,18.75rem)
}
.content-services__color._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s 1s
}
.content-services__design {
  display: flex;
  flex-direction: column;
  opacity: 0;
  -webkit-transform: translate(0,15.625rem);
  transform: translate(0,15.625rem)
}
.content-services__design._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .5s
}
.content-services__cut-image {
  max-width: 11.875rem;
  overflow: hidden
}
.content-services__cut-image img {
  width: 100%;
  aspect-ratio: 190/325;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .125rem
}
.content-services__color {
  padding-top: 9.0625rem
}
.content-services__color-image {
  position: relative;
  max-width: 11.875rem
}
.content-services__color-image img {
  width: 100%;
  aspect-ratio: 190/546;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .125rem;
  position: relative;
  z-index: 2
}
.content-services__color-image svg {
  max-width: 11.125rem;
  aspect-ratio: 178/225;
  position: absolute;
  bottom: -6.25rem;
  right: -5.375rem
}
.content-services__design {
  padding-top: 5.3125rem
}
.content-services__design-image {
  position: relative;
  max-width: 11.875rem
}
.content-services__design-image img {
  width: 100%;
  aspect-ratio: 190/380;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .125rem;
  position: relative;
  z-index: 2
}
.content-services__design-image svg {
  max-width: 11.125rem;
  aspect-ratio: 178/225;
  position: absolute;
  bottom: 0;
  right: -7.8125rem
}
.passion {
  position: relative
}
.passion img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  aspect-ratio: 1440/720;
  -o-object-fit: cover;
  object-fit: cover
}
.passion__content {
  position: relative;
  z-index: 2;
  min-height: 45rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 6.5625rem
}
.passion__vertical-text {
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 3;
  transition: all .3s;
  cursor: pointer
}
.passion__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: -.03em;
  color: #fff;
  text-align: center
}
.passion__text p {
  max-width: 24.6875rem
}
.passion__text h2 {
  line-height: 1.1;
  letter-spacing: -.04em
}
.best-self {
  background: #c2b8cc
}
.best-self__content {
  display: flex;
  max-width: 54.375rem;
  margin: 0 auto
}
.best-self__left-side {
  align-self: flex-end;
  max-width: 14.3125rem;
  margin-right: -3.75rem;
  position: relative;
  z-index: 3;
  opacity: 0
}
.best-self__left-side._watcher-view {
  opacity: 1;
  transition: opacity 2s 1s
}
.best-self__left-side img {
  width: 100%;
  aspect-ratio: 229/256;
  -o-object-fit: cover;
  object-fit: cover
}
.best-self__main-image-best-self {
  align-self: center;
  max-width: 28.75rem;
  opacity: 0
}
.best-self__main-image-best-self._watcher-view {
  opacity: 1;
  transition: opacity .5s
}
.best-self__main-image-best-self img {
  width: 100%;
  aspect-ratio: 460/510;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 2
}
.best-self__right-side {
  align-self: flex-start;
  max-width: 15.75rem;
  margin-left: -5.625rem;
  position: relative;
  z-index: 2;
  opacity: 0
}
.best-self__right-side._watcher-view {
  opacity: 1;
  transition: opacity 1s 1.5s
}
.best-self__right-side img {
  width: 100%;
  aspect-ratio: 252/303;
  -o-object-fit: cover;
  object-fit: cover
}
.main-image-best-self {
  position: relative
}
.main-image-best-self__decor {
  position: absolute;
  z-index: 0
}
.main-image-best-self__decor--left {
  max-width: 14.8125rem;
  left: -11.5625rem;
  opacity: .4
}
.main-image-best-self__decor--right {
  max-width: 14.6875rem;
  right: -4.0625rem
}
.right-side-best-self__image:not(:last-child) {
  margin-bottom: 6.25rem
}
.right-side-best-self__text {
  line-height: 1.2;
  letter-spacing: -.04em;
  max-width: 17.1875rem;
  display: flex;
  flex-direction: column
}
.right-side-best-self__text a {
  font-size: 1rem;
  align-self: flex-start
}
.love-block {
  background: #c5cebd;
  padding-bottom: 1.875rem
}
.love-block__content {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start
}
.love-block__picture {
  max-width: 100%;
  flex: 0 1 38.75%;
  position: relative;
  max-width: 34.875rem
}
.love-block__picture-img {
  width: 100%;
  aspect-ratio: 558/704;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: .25rem;
  position: relative;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translate(-18.75rem,0);
  transform: translate(-18.75rem,0)
}
.love-block__picture-img._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s .3s
}
.love-block__picture-decor {
  max-width: 13.8125rem;
  aspect-ratio: 222/224;
  position: absolute;
  right: -6.875rem;
  bottom: -6.25rem
}
.love-block__body {
  flex: 1 1 32.083333%;
  position: relative;
  z-index: 2
}
.love-block__body-title {
  line-height: 1.1;
  letter-spacing: -.04em;
  margin-left: -7.5rem;
  opacity: 0;
  -webkit-transform: translate(-18.75rem,0);
  transform: translate(-18.75rem,0)
}
.love-block__body-title._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s 1s
}
.love-block__text {
  max-width: 19.375rem;
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0;
  -webkit-transform: translate(0,18.75rem);
  transform: translate(0,18.75rem)
}
.love-block__text._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s 1.3s
}
.love-block__text p:not(:last-child) {
  margin-bottom: .3125rem
}
.love-block__decor {
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem);
  overflow-x: hidden
}
.decor-love-block {
  flex: 0 1 29.166667%;
  position: relative
}
.decor-love-block__line-decor {
  position: absolute;
  width: 100%;
  bottom: 25%
}
.decor-love-block__circle-img {
  max-width: 25rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(100%,18.75rem);
  transform: translate(100%,18.75rem)
}
.decor-love-block__circle-img._watcher-view {
  opacity: 1;
  -webkit-transform: translate(50%,6.25rem);
  transform: translate(50%,6.25rem);
  transition: all 1s 1.3s
}
.decor-love-block__circle-img img {
  max-width: 100%;
  aspect-ratio: 399/400;
  border-radius: .25rem;
  -o-object-fit: cover;
  object-fit: cover
}
.decor-love-block__rose-img {
  max-width: 21.125rem;
  position: relative;
  margin-right: .9375rem;
  opacity: 0;
  -webkit-transform: translate(0,-18.75rem);
  transform: translate(0,-18.75rem)
}
.decor-love-block__rose-img._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition: all 1s 1.3s
}
.decor-love-block__rose-img img {
  max-width: 100%;
  aspect-ratio: 338/400;
  border-radius: .25rem;
  -o-object-fit: cover;
  object-fit: cover
}
@media (min-width:37.5em) {
  .hero__body {
    display: grid;
    align-items: start;
    grid-template-columns: 41.884817% 31.099476% auto
  }
  .hero__media {
    margin-left: -7.1875rem
  }
  .hero__circle-image {
    margin-left: -4.0625rem;
    margin-top: .5rem
  }
  .hero__text {
    max-width: 14.375rem;
    padding-top: 1.875rem
  }
}
@media (min-width:59.6875em) {
  .hero__title {
    font-size: 2.25rem
  }
}
@media (min-width:90em) {
  [class*=__container] {
    padding-left: 3.125rem
  }
  [class*=__container] {
    padding-right: 3.125rem
  }
  .text-block-services {
    font-size: 2.5rem
  }
  .menu__list {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .footer__container {
    padding-top: 6.25rem
  }
  .footer__container {
    padding-bottom: 6.25rem
  }
  .footer__container {
    padding-left: 6.25rem
  }
  .footer__container {
    padding-right: 6.25rem
  }
  .footer__footer-menu {
    -webkit-column-gap: 4.6875rem;
    -moz-column-gap: 4.6875rem;
    column-gap: 4.6875rem
  }
  .hero {
    padding-top: 4.0625rem
  }
  .hero {
    padding-bottom: 7.1875rem
  }
  .hero__text {
    padding-left: 1.875rem
  }
  .focused__content {
    gap: 5rem
  }
  .focused__body h2 {
    font-size: 2.5rem
  }
  .services {
    padding-top: 9.375rem
  }
  .services {
    padding-bottom: 9.375rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 6.25rem
  }
  .services__title {
    font-size: 2.5rem
  }
  .content-services__color,
  .content-services__cut,
  .content-services__design {
    gap: 2rem
  }
  .passion__vertical-text {
    top: -3.4375rem
  }
  .passion__vertical-text {
    right: -3.125rem
  }
  .passion__text h2 {
    font-size: 3.75rem
  }
  .best-self {
    padding-top: 9.375rem
  }
  .best-self {
    padding-bottom: 9.375rem
  }
  .best-self__left-side {
    margin-bottom: -4.375rem
  }
  .best-self__right-side {
    margin-top: -6.25rem
  }
  .main-image-best-self__decor--left {
    top: 10.25rem
  }
  .main-image-best-self__decor--right {
    top: 6.5625rem
  }
  .right-side-best-self__text {
    gap: 2rem
  }
  .right-side-best-self__text {
    font-size: 2.5rem
  }
  .love-block {
    padding-top: 9.375rem
  }
  .love-block__body {
    padding-top: 10rem
  }
  .love-block__body {
    padding-left: 3.4375rem
  }
  .love-block__body {
    padding-right: 3.4375rem
  }
  .love-block__body-title {
    font-size: 3.75rem
  }
  .love-block__body-title:not(:last-child) {
    margin-bottom: 2.625rem
  }
}
@media (max-width:20em) {
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
  .text-block-services {
    font-size: 1.625rem
  }
  .footer__container {
    padding-top: 1.875rem
  }
  .footer__container {
    padding-bottom: 1.875rem
  }
  .footer__container {
    padding-left: 1.875rem
  }
  .footer__container {
    padding-right: 1.875rem
  }
  .footer__footer-menu {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .hero {
    padding-top: .0000000625rem
  }
  .hero {
    padding-bottom: 2.5rem
  }
  .hero__title {
    font-size: 1.5rem
  }
  .hero__text {
    padding-left: .625rem
  }
  .focused__body h2 {
    font-size: 2rem
  }
  .services {
    padding-top: .0000000625rem
  }
  .services {
    padding-bottom: 4.375rem
  }
  .services__title:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .services__title {
    font-size: 2.375rem
  }
  .content-services__color,
  .content-services__cut,
  .content-services__design {
    gap: .9375rem
  }
  .passion__vertical-text {
    top: 6.25rem
  }
  .passion__vertical-text {
    right: -7.5rem
  }
  .passion__text h2 {
    font-size: 2.625rem
  }
  .best-self {
    padding-top: 1.875rem
  }
  .best-self {
    padding-bottom: 3.125rem
  }
  .best-self__left-side {
    margin-bottom: .0000000625rem
  }
  .best-self__right-side {
    margin-top: .0000000625rem
  }
  .main-image-best-self__decor--left {
    top: .0000000625rem
  }
  .main-image-best-self__decor--right {
    top: 4.375rem
  }
  .right-side-best-self__text {
    gap: .9375rem
  }
  .right-side-best-self__text {
    font-size: 1.75rem
  }
  .love-block {
    padding-top: 3.125rem
  }
  .love-block__body {
    padding-top: 1.875rem
  }
  .love-block__body-title {
    font-size: 2.375rem
  }
  .love-block__body-title:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .focused__content {
    gap: .9375rem
  }
}
@media (max-width:48.06125em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    background-color: #dfccc2;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.875rem .9375rem 1.875rem 1.25rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #cdb8ad
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span,
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #000
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .text-block-services {
    width: 100%;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    position: relative;
    align-self: flex-start;
    top: 0;
    left: 0
  }
  .header__container {
    grid-template-columns: auto auto 1fr;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
  }
  .menu-open .header__logo {
    color: #000
  }
  .menu-open .header__btn-style {
    color: #000
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start
  }
  .menu__link {
    color: #000;
    font-size: 1.375rem
  }
  .focused__content {
    flex-direction: column
  }
  .focused__picture--first {
    align-self: center
  }
  .focused__picture--second {
    align-self: center
  }
  .focused__picture--second._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: all 1.2s 1.3s
  }
  .focused__text {
    max-width: 100%
  }
  .focused__decor-item:first-child {
    bottom: 60%;
    left: -2%
  }
  .focused__decor-item:last-child {
    bottom: 35%;
    right: -6%
  }
  .content-services {
    flex-direction: column;
    text-align: center
  }
  .content-services__cut {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center
  }
  .content-services__color {
    flex-direction: column
  }
  .content-services__design {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center
  }
  .content-services__color {
    padding-top: 0
  }
  .content-services__color-image {
    align-self: center
  }
  .content-services__design {
    padding-top: 0
  }
  .love-block__content {
    flex-direction: column;
    align-items: center
  }
  .love-block__body {
    padding-left: .9375rem
  }
  .love-block__body {
    padding-right: .9375rem
  }
  .love-block__body-title {
    margin-left: 0
  }
  .love-block__text {
    max-width: 100%
  }
  .love-block__decor {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    overflow-x: visible
  }
  .decor-love-block {
    display: flex
  }
  .decor-love-block__line-decor {
    max-width: 26.4375rem;
    top: -80%;
    right: 20%
  }
  .decor-love-block__circle-img {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    margin: .625rem;
    opacity: 0;
    -webkit-transform: translate(100%,18.75rem);
    transform: translate(100%,18.75rem)
  }
  .decor-love-block__circle-img._watcher-view {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    transition: all 1s 1.3s
  }
  .decor-love-block__rose-img {
    margin: .625rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:37.49875em) {
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__media:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__content {
    display: flex;
    flex-direction: row-reverse;
    gap: .9375rem
  }
  .hero__circle-image {
    flex-shrink: 0;
    flex-basis: 6.25rem
  }
  .hero__text {
    align-self: center
  }
}
@media (max-width:29.99875em) {
  .header__logo {
    font-size: 1.75rem
  }
  .footer__container {
    flex-direction: column-reverse;
    gap: 1.5625rem
  }
  .footer__footer-menu {
    justify-content: space-around
  }
  .footer__invite {
    text-align: center
  }
  .footer__btn-style {
    align-self: center
  }
  .hero__title {
    max-width: 100%
  }
  .decor-love-block {
    flex-direction: column;
    align-items: center
  }
}
@media (max-width:23.43625em) {
  .header__logo {
    font-size: 1.25rem
  }
  .header__btn-style {
    font-size: .875rem
  }
}
@media (min-width:20em)and (max-width:90em) {
  [class*=__container] {
    padding-left: clamp(.9375rem ,.3125rem + 3.125vw ,3.125rem)
  }
  [class*=__container] {
    padding-right: clamp(.9375rem ,.3125rem + 3.125vw ,3.125rem)
  }
  .text-block-services {
    font-size: clamp(1.625rem ,1.375rem + 1.25vw ,2.5rem)
  }
  .footer__container {
    padding-top: clamp(1.875rem ,.625rem + 6.25vw ,6.25rem)
  }
  .footer__container {
    padding-bottom: clamp(1.875rem ,.625rem + 6.25vw ,6.25rem)
  }
  .footer__container {
    padding-left: clamp(1.875rem ,.625rem + 6.25vw ,6.25rem)
  }
  .footer__container {
    padding-right: clamp(1.875rem ,.625rem + 6.25vw ,6.25rem)
  }
  .footer__footer-menu {
    -webkit-column-gap: clamp(1.875rem ,1.0714285714rem + 4.0178571429vw ,4.6875rem);
    -moz-column-gap: clamp(1.875rem ,1.0714285714rem + 4.0178571429vw ,4.6875rem);
    column-gap: clamp(1.875rem ,1.0714285714rem + 4.0178571429vw ,4.6875rem)
  }
  .hero {
    padding-top: clamp(.0000000625rem ,-1.1607142054rem + 5.8035713393vw ,4.0625rem)
  }
  .hero {
    padding-bottom: clamp(2.5rem ,1.1607142857rem + 6.6964285714vw ,7.1875rem)
  }
  .hero__text {
    padding-left: clamp(.625rem ,.2678571429rem + 1.7857142857vw ,1.875rem)
  }
  .focused__body h2 {
    font-size: clamp(2rem ,1.8571428571rem + .7142857143vw ,2.5rem)
  }
  .services {
    padding-top: clamp(.0000000625rem ,-2.6785713482rem + 13.3928570536vw ,9.375rem)
  }
  .services {
    padding-bottom: clamp(4.375rem ,2.9464285714rem + 7.1428571429vw ,9.375rem)
  }
  .services__title:not(:last-child) {
    margin-bottom: clamp(2.5rem ,1.4285714286rem + 5.3571428571vw ,6.25rem)
  }
  .services__title {
    font-size: clamp(2.375rem ,2.3392857143rem + .1785714286vw ,2.5rem)
  }
  .content-services__color,
  .content-services__cut,
  .content-services__design {
    gap: clamp(.9375rem ,.6339285714rem + 1.5178571429vw ,2rem)
  }
  .passion__vertical-text {
    top: clamp(-3.4375rem ,9.0178571429rem + -13.8392857143vw ,6.25rem)
  }
  .passion__vertical-text {
    right: clamp(-7.5rem ,-8.75rem + 6.25vw ,-3.125rem)
  }
  .passion__text h2 {
    font-size: clamp(2.625rem ,2.3035714286rem + 1.6071428571vw ,3.75rem)
  }
  .best-self {
    padding-top: clamp(1.875rem ,-.2678571429rem + 10.7142857143vw ,9.375rem)
  }
  .best-self {
    padding-bottom: clamp(3.125rem ,1.3392857143rem + 8.9285714286vw ,9.375rem)
  }
  .best-self__left-side {
    margin-bottom: clamp(-4.375rem ,1.2500000804rem + -6.2500000893vw ,.0000000625rem)
  }
  .best-self__right-side {
    margin-top: clamp(-6.25rem ,1.7857143661rem + -8.9285715179vw ,.0000000625rem)
  }
  .main-image-best-self__decor--left {
    top: clamp(.0000000625rem ,-2.9285713482rem + 14.6428570536vw ,10.25rem)
  }
  .main-image-best-self__decor--right {
    top: clamp(4.375rem ,3.75rem + 3.125vw ,6.5625rem)
  }
  .right-side-best-self__text {
    gap: clamp(.9375rem ,.6339285714rem + 1.5178571429vw ,2rem)
  }
  .right-side-best-self__text {
    font-size: clamp(1.75rem ,1.5357142857rem + 1.0714285714vw ,2.5rem)
  }
  .love-block {
    padding-top: clamp(3.125rem ,1.3392857143rem + 8.9285714286vw ,9.375rem)
  }
  .love-block__body {
    padding-top: clamp(1.875rem ,-.4464285714rem + 11.6071428571vw ,10rem)
  }
  .love-block__body-title {
    font-size: clamp(2.375rem ,1.9821428571rem + 1.9642857143vw ,3.75rem)
  }
  .love-block__body-title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.8571428571rem + 1.9642857143vw ,2.625rem)
  }
}
@media (min-width:48.06125em)and (max-width:90em) {
  .menu__list {
    -webkit-column-gap: clamp(.9375rem ,-3.7180709964rem + 9.6867455515vw ,5rem);
    -moz-column-gap: clamp(.9375rem ,-3.7180709964rem + 9.6867455515vw ,5rem);
    column-gap: clamp(.9375rem ,-3.7180709964rem + 9.6867455515vw ,5rem)
  }
}
@media (min-width:20em)and (max-width:59.6875em) {
  .hero__title {
    font-size: clamp(1.5rem ,1.1220472441rem + 1.8897637795vw ,2.25rem)
  }
}
@media (min-width:61.99875em)and (max-width:90em) {
  .focused__content {
    gap: clamp(.9375rem ,-8.0574527923rem + 14.5082808803vw ,5rem)
  }
}
@media (min-width:47.99875em)and (max-width:90em) {
  .love-block__body {
    padding-left: clamp(.9375rem ,-1.9194834231rem + 5.9522038035vw ,3.4375rem)
  }
  .love-block__body {
    padding-right: clamp(.9375rem ,-1.9194834231rem + 5.9522038035vw ,3.4375rem)
  }
}
@media (any-hover:hover) {
  .btn-style:hover::after {
    height: 100%;
    top: 0
  }
  .menu__item:hover::after {
    width: 100%
  }
  .footer__footer-menu li:hover::after {
    width: 100%
  }
  .footer__btn-style:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .passion__vertical-text:hover {
    color: #f95454
  }
}