@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lakki+Reddy:regular&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #abaeb7;
  line-height: 1;
  font-family: "Lakki Reddy",sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Lakki Reddy",sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-image: url(../img/bg.webp);
  background-size: cover;
  transition: all .3s ease 0s
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 91.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.popup__content {
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-color: #0b0e17;
  box-shadow: 1px 1px 1px #7b7b7b,-1px -1px 1px #818181;
  display: flex;
  flex-direction: column
}
.popup__close {
  align-self: flex-end
}
.popup__close svg {
  fill: #ffc978;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  transition: all .3s
}
.popup__body {
  padding: .9375rem 0
}
.popup__social-links {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-around
}
.popup__social-links a {
  transition: all .3s
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header__title {
  text-transform: capitalize;
  text-align: center
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center
}
.menu__list {
  display: flex;
  text-transform: uppercase
}
.menu__link {
  transition: color .3s
}
.footer {
  padding: 3.75rem 0 1.875rem 0
}
.footer__block {
  text-align: center;
  font-size: 1rem
}
.footer__block blockquote {
  padding-top: .9375rem;
  padding-bottom: .625rem
}
.title-section h3 {
  color: #ffc978;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .2em;
  margin-bottom: .9375rem;
  font-family: "Lakki Reddy";
  font-size: .875rem
}
.title-section h2 {
  text-transform: capitalize;
  font-family: "Lakki Reddy"
}
.list-isotop {
  display: flex;
  gap: 1.5625rem;
  align-self: flex-end;
  justify-content: flex-end
}
.list-isotop button {
  transition: all .3s;
  text-transform: capitalize
}
.project__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: 1.25rem
}
.project__body-cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-top: 1.5625rem;
  -webkit-animation-name: circle;
  animation-name: circle;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: translate(0,900px);
    transform: translate(0,900px)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes circle {
  0% {
    -webkit-transform: translate(0,900px);
    transform: translate(0,900px)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
.project__card-project {
  opacity: 0;
  -webkit-transform: translate(0,80px);
  transform: translate(0,80px);
  transition: all .8s
}
.project__card-project._watcher-view {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.card-project {
  overflow: hidden;
  border-radius: .375rem
}
.card-project__image {
  aspect-ratio: 295/190;
  transition: all .3s
}
.card-project a {
  position: relative
}
.card-project span {
  display: flex;
  background: rgba(255,255,255,.1);
  padding-top: .75rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -2.5rem;
  left: 0;
  transition: all .3s
}
.page__theme {
  width: 30px;
  height: 30px;
  flex: 0 0 30px;
  cursor: pointer
}
.page__action {
  position: relative
}
html.dark body {
  color: #fff;
  background-color: #0b0e17
}
html.light body {
  background-color: #d6d3d3;
  color: #333
}
html.light body .popup__content {
  background-color: #d6d3d3;
  color: #333
}
html.light body .title-section h3 {
  color: #8d652a
}
html.light body .popup__close svg {
  fill: #8d652a
}
html.dark .page__theme {
  background: url(../img/sun.svg) 0 0/100% no-repeat
}
html.light .page__theme {
  background: url(../img/moon.svg) 0 0/100% no-repeat
}
@media (min-width:91.875em) {
  .header {
    padding-top: 3.75rem
  }
  .header__title {
    font-size: 2.625rem
  }
  .header__title {
    padding-bottom: 1.25rem
  }
  .menu__list {
    gap: 1.875rem
  }
  .title-section h2 {
    font-size: 2.125rem
  }
  .project {
    padding-top: 3.75rem
  }
  .project__body-cards {
    gap: 1.875rem
  }
}
@media (max-width:20em) {
  .header {
    padding-top: 1.875rem
  }
  .header__title {
    font-size: 2rem
  }
  .header__title {
    padding-bottom: .9375rem
  }
  .menu__list {
    gap: 1.25rem
  }
  .title-section h2 {
    font-size: 1.5rem
  }
  .project {
    padding-top: 2.5rem
  }
  .project__body-cards {
    gap: .9375rem
  }
}
@media (max-width:61.99875em) {
  .project__body-cards {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:47.99875em) {
  .list-isotop {
    align-self: flex-start;
    justify-content: space-around;
    width: 100%
  }
  .project__body-cards {
    grid-template-columns: auto
  }
  .card-project span {
    bottom: 0;
    background: rgba(11,14,23,.827);
    color: #ffc978
  }
}
@media (min-width:20em) and (max-width:91.875em) {
  @supports (padding-top:clamp(1.875rem ,1.3532608696rem + 2.6086956522vw ,3.75rem)) {
    .header {
      padding-top: clamp(1.875rem ,1.3532608696rem + 2.6086956522vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.3532608696rem + 2.6086956522vw ,3.75rem)) {
    .header {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(2rem ,1.8260869565rem + 0.8695652174vw ,2.625rem)) {
    .header__title {
      font-size: clamp(2rem ,1.8260869565rem + .8695652174vw ,2.625rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8260869565rem + 0.8695652174vw ,2.625rem)) {
    .header__title {
      font-size: calc(2rem + .625 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-bottom:clamp(0.9375rem ,0.8505434783rem + 0.4347826087vw ,1.25rem)) {
    .header__title {
      padding-bottom: clamp(.9375rem ,.8505434783rem + .4347826087vw ,1.25rem)
    }
  }
  @supports not (padding-bottom:clamp(0.9375rem ,0.8505434783rem + 0.4347826087vw ,1.25rem)) {
    .header__title {
      padding-bottom: calc(.9375rem + .3125 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (gap:clamp(1.25rem ,1.0760869565rem + 0.8695652174vw ,1.875rem)) {
    .menu__list {
      gap: clamp(1.25rem ,1.0760869565rem + .8695652174vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,1.0760869565rem + 0.8695652174vw ,1.875rem)) {
    .menu__list {
      gap: calc(1.25rem + .625 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.3260869565rem + 0.8695652174vw ,2.125rem)) {
    .title-section h2 {
      font-size: clamp(1.5rem ,1.3260869565rem + .8695652174vw ,2.125rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.3260869565rem + 0.8695652174vw ,2.125rem)) {
    .title-section h2 {
      font-size: calc(1.5rem + .625 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (padding-top:clamp(2.5rem ,2.152173913rem + 1.7391304348vw ,3.75rem)) {
    .project {
      padding-top: clamp(2.5rem ,2.152173913rem + 1.7391304348vw ,3.75rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,2.152173913rem + 1.7391304348vw ,3.75rem)) {
    .project {
      padding-top: calc(2.5rem + 1.25 * (100vw - 20rem)/ 71.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.6766304348rem + 1.3043478261vw ,1.875rem)) {
    .project__body-cards {
      gap: clamp(.9375rem ,.6766304348rem + 1.3043478261vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.6766304348rem + 1.3043478261vw ,1.875rem)) {
    .project__body-cards {
      gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 71.875)
    }
  }
}
@media (any-hover:hover) {
  .popup__close:hover svg {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  .popup__social-links a:hover {
    color: #ffc978
  }
  .menu__link:hover {
    color: #ffc978
  }
  .list-isotop button:hover {
    color: #ffc978
  }
  .card-project:hover .card-project__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .card-project:hover span {
    background: rgba(11,14,23,.827);
    color: #ffc978;
    bottom: 0
  }
  html.light body .menu__link:hover {
    color: #8d652a
  }
  html.light body .popup__social-links a:hover {
    color: #8d652a
  }
}